<form #f="ngForm" (submit)="send()">
  <label for="city" style="color:white">Enter a City and show the temperature:</label>
  <br>
  <input type="text" name="city" class="form-control mb-2" [(ngModel)]="city">
  <!-- <button type="submit" class="btn btn-primary">Send</button> -->
<!-- </form> -->
<div class="content">
  <div class="upper-data">
    <img src="../assets/cold.jpg" *ngIf="weatherData.main.temp_max < 59">
    <img src="../assets/hot.jpg" *ngIf="weatherData.main.temp_max >= 59">
    <div class="weather-data">
      <h1>{{ weatherData.name }}</h1>
      <h1 class="bigColor">{{ weatherData.main.temp_max | tempConverter:'C' }}°C</h1>
    </div>
  </div>
  <div class="lower-data">
    <h5>More Informations</h5>
    <div class="round">
      <div class="top f-row">
        <img src="../assets/tem-min.png" alt=""><span>{{ weatherData.main.temp_min | tempConverter:'C'}}°C</span>
        <img src="../assets/tem-mx.png" alt=""><span>{{ weatherData.main.temp_max | tempConverter:'C'}}°C</span>
      </div>
      <div class="down f-row">
        <img src="../assets/humid.png" alt=""><span>{{ weatherData.main.humidity }}%</span>
        <img src="../assets/wind.png" alt=""><span>{{ weatherData.wind.speed }} km/h</span>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>